In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

page_link = 'https://en.wikipedia.org/wiki/Boroughs_of_Amsterdam'
page_response = requests.get(page_link, timeout=5)
page_content = BeautifulSoup(page_response.content, "html.parser")

table = page_content.find('table',{'class':'wikitable'})
table_rows = table.find_all('tr')

res = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td if tr.text.strip()]
    if row:
        res.append(row)

df = pd.DataFrame(res, columns=['Borough', 'Area', 'Population', 'Population Density'])
df

                   Borough       Area Population Population Density
0         Centrum (Centre)   8.04 km²     86,422         13,748/km²
1            Noord (North)  49.01 km²     94,766          2,269/km²
2     Nieuw-West(New West)  32.38 km²    151,677          4,478/km²
3              Oost (East)  30.56 km²    135,767          7,635/km²
4                     West   9.89 km²    143,842         15,252/km²
5  Westpoort(West Gateway)     10 km²        192             10/km²
6             Zuid (South)  17.41 km²    144,432          9,349/km²
7      Zuidoost(Southeast)  22.08 km²     87,854          4,391/km²

In [2]:
!conda install -c conda-forge folium=0.5.0 --yes 
import folium
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim

Solving environment: done

# All requested packages already installed.

Solving environment: done

## Package Plan ##

  environment location: /home/jupyterlab/conda

  added / updated specs:
    - geopy


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    geopy-1.18.1               |             py_0          51 KB  conda-forge
    geographiclib-1.49         |             py_0          32 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          84 KB

The following NEW packages will be INSTALLED:

    geographiclib: 1.49-py_0     conda-forge

The following packages will be UPDATED:

    geopy:         1.11.0-py36_0 conda-forge --> 1.18.1-py_0 conda-forge


Downloading and Extracting Packages
geopy-1.18.1         | 51 KB     | ##################################### | 100%
geographiclib-1.49   | 32 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [3]:
address = 'Amsterdam, Netherlands'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Amsterdam are {}, {}.'.format(latitude, longitude))

/home/jupyterlab/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.18.1" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

The geograpical coordinate of Amsterdam are 52.3745403, 4.89797550561798.

In [4]:
coordinates_amsterdam = (52.3745403, 4.89797550561798)

map_amsterdam = folium.Map(location = coordinates_amsterdam, zoom_start=10)

folium.CircleMarker(
        [52.3745403, 4.89797550561798],
        radius=10,
        color='green',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_amsterdam)  
    
display (map_amsterdam)

In [5]:
CLIENT_ID = 'ZBZGBO31ZBRVVNESVBIBKVG0SEJ4LT4EFNPFDU1VZQ2L3Q5N' 
CLIENT_SECRET = '4WLLUSW50DMTZ0JYNHFSMGC2OE4OY4055EXVRGXUOA0SFOHI'
VERSION = '20180605'

print('Your credentials:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET: ' + CLIENT_SECRET)

Your credentials:
CLIENT_ID: ZBZGBO31ZBRVVNESVBIBKVG0SEJ4LT4EFNPFDU1VZQ2L3Q5N
CLIENT_SECRET: 4WLLUSW50DMTZ0JYNHFSMGC2OE4OY4055EXVRGXUOA0SFOHI

In [6]:
borough_amsterdam = pd.read_csv("borough.csv")
df1 = pd.read_csv("coordinates.csv")

borough_amsterdam = borough_amsterdam.merge(df1, on='Borough')
borough_amsterdam.to_csv("merged_data.csv", index=False)
print('Done')

Done

In [7]:
borough_amsterdam = pd.read_csv("merged_data.csv")
borough_amsterdam

,Borough,Area,Population,Population Density,Latitude,Longitude
0,Centrum (Centre),8.04 km²,"86,422","13,748/km²",52.379189,4.899431
1,Noord (North),49.01 km²,"94,766","2,269/km²",52.395700,4.966200
2,Nieuw-West(New West),32.38 km²,"151,677","4,478/km²",52.366200,4.804100
3,Oost (East),30.56 km²,"135,767","7,635/km²",52.358600,4.940500
4,West,9.89 km²,"143,842","15,252/km²",52.373400,4.862500
5,Westpoort(West Gateway),10 km²,192,10/km²,52.402300,4.807800
6,Zuid (South),17.41 km²,"144,432","9,349/km²",52.335500,4.875700
7,Zuidoost(Southeast),22.08 km²,"87,854","4,391/km²",52.308000,4.971500

In [8]:
borough_amsterdam.loc[1, 'Borough']

'Noord (North)'

In [9]:
borough_amsterdam=borough_amsterdam.drop(['Area', 'Population','Population Density'], axis=1)

In [10]:
borough_latitude = borough_amsterdam.loc[0,'Latitude'] # neighborhood latitude value
borough_longitude = borough_amsterdam.loc[0, 'Longitude'] # neighborhood longitude value

borough_name = borough_amsterdam.loc[0, 'Borough'] # neighborhood name

print('Latitude and longitude values of Amsterdam-{} are {}, {}.'.format(borough_name, 
                                                               borough_latitude, 
                                                               borough_longitude))

Latitude and longitude values of Amsterdam-Centrum (Centre) are 52.379189, 4.899431.

In [11]:
LIMIT = 10 
radius = 3000
query = "family"

url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&query={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    borough_latitude,
    borough_longitude,
    radius, 
    query,
    LIMIT)
url

'https://api.foursquare.com/v2/venues/explore?&client_id=ZBZGBO31ZBRVVNESVBIBKVG0SEJ4LT4EFNPFDU1VZQ2L3Q5N&client_secret=4WLLUSW50DMTZ0JYNHFSMGC2OE4OY4055EXVRGXUOA0SFOHI&v=20180605&ll=52.379189,4.899431&radius=3000&query=family&limit=10'

In [12]:
results = requests.get(url).json()
results

{'meta': {'code': 200, 'requestId': '5c413eeddb04f57d75669f38'},
 'response': {'headerLocation': 'Amsterdam',
  'headerFullLocation': 'Amsterdam',
  'headerLocationGranularity': 'city',
  'query': 'family',
  'totalResults': 134,
  'suggestedBounds': {'ne': {'lat': 52.406189027000025,
    'lng': 4.943579365666013},
   'sw': {'lat': 52.35218897299997, 'lng': 4.855282634333987}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4af1b6faf964a5206ce221e3',
       'name': 'Anne Frank Huis',
       'location': {'address': 'Prinsengracht 263-267',
        'crossStreet': 'Westermarkt',
        'lat': 52.37509,
        'lng': 4.883917,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.37509,
          'lng': 4.883917}],
        'distance': 1148,
        'postalCode': '1016 GV',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Prinsengracht 263-267 (Westermarkt)',
         '1016 GV Amsterdam',
         'Nederland']},
       'categories': [{'id': '4deefb944765f83613cdba6e',
         'name': 'Historic Site',
         'pluralName': 'Historic Sites',
         'shortName': 'Historic Site',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/historicsite_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '64212213'}},
      'referralId': 'e-0-4af1b6faf964a5206ce221e3-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '52362457498eaa43285cbb58',
       'name': 'Yu Family Kitchen',
       'location': {'lat': 52.37616748648993,
        'lng': 4.895413409967072,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.37616748648993,
          'lng': 4.895413409967072}],
        'distance': 433,
        'cc': 'NL',
        'country': 'Nederland',
        'formattedAddress': ['Nederland']},
       'categories': [{'id': '4bf58dd8d48988d145941735',
         'name': 'Chinese Restaurant',
         'pluralName': 'Chinese Restaurants',
         'shortName': 'Chinese',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/asian_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-52362457498eaa43285cbb58-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a270701f964a520a88c1fe3',
       'name': 'NEMO Science Museum',
       'location': {'address': 'Oosterdok 2',
        'lat': 52.37376520384122,
        'lng': 4.912272691726685,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.37376520384122,
          'lng': 4.912272691726685}],
        'distance': 1061,
        'postalCode': '1011 VX',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Oosterdok 2', '1011 VX Amsterdam', 'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d191941735',
         'name': 'Science Museum',
         'pluralName': 'Science Museums',
         'shortName': 'Science Museum',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/museum_science_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '447968895'}},
      'referralId': 'e-0-4a270701f964a520a88c1fe3-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a270602f964a520ad891fe3',
       'name': 'Museum Van Loon',
       'location': {'address': 'Keizersgracht 672',
        'lat': 52.36361094793346,
        'lng': 4.893333728414666,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.36361094793346,
          'lng': 4.893333728414666}],
        'distance': 1782,
        'postalCode': '1017 ET',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Keizersgracht 672',
         '1017 ET Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d181941735',
         'name': 'Museum',
         'pluralName': 'Museums',
         'shortName': 'Museum',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/museum_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a270602f964a520ad891fe3-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4eb97add30f8d0f18e0deee6',
       'name': 'Maenaam Thai',
       'location': {'lat': 52.375184010070036,
        'lng': 4.891260441151285,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.375184010070036,
          'lng': 4.891260441151285}],
        'distance': 712,
        'postalCode': '1012 TZ',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['1012 TZ Amsterdam', 'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d149941735',
         'name': 'Thai Restaurant',
         'pluralName': 'Thai Restaurants',
         'shortName': 'Thai',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/thai_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4eb97add30f8d0f18e0deee6-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a2707b2f964a5209a8e1fe3',
       'name': 'Ristaurante Savini',
       'location': {'address': 'Spuistraat 1/D',
        'lat': 52.37722477177789,
        'lng': 4.894962014499486,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.37722477177789,
          'lng': 4.894962014499486}],
        'distance': 374,
        'postalCode': '1012 SP',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Spuistraat 1/D',
         '1012 SP Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d110941735',
         'name': 'Italian Restaurant',
         'pluralName': 'Italian Restaurants',
         'shortName': 'Italian',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/italian_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a2707b2f964a5209a8e1fe3-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a26ffccf964a52011811fe3',
       'name': 'Bierproeflokaal In de Wildeman',
       'location': {'address': 'Kolksteeg 3',
        'lat': 52.376221607108576,
        'lng': 4.89513383418524,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.376221607108576,
          'lng': 4.89513383418524}],
        'distance': 440,
        'postalCode': '1012 PT',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Kolksteeg 3', '1012 PT Amsterdam', 'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d116941735',
         'name': 'Bar',
         'pluralName': 'Bars',
         'shortName': 'Bar',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a26ffccf964a52011811fe3-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a2703d7f964a52095851fe3',
       'name': 'Vlaming eten & drinken',
       'location': {'address': 'Lindengracht 95',
        'lat': 52.380016,
        'lng': 4.8845315,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.380016,
          'lng': 4.8845315}],
        'distance': 1016,
        'postalCode': '1015 KD',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Lindengracht 95',
         '1015 KD Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d1c4941735',
         'name': 'Restaurant',
         'pluralName': 'Restaurants',
         'shortName': 'Restaurant',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a2703d7f964a52095851fe3-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a26ffc0f964a520d8801fe3',
       'name': "Café 't Papeneiland",
       'location': {'address': 'Prinsengracht 2',
        'lat': 52.38044573821837,
        'lng': 4.8880040645599365,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.38044573821837,
          'lng': 4.8880040645599365}],
        'distance': 788,
        'postalCode': '1015 DV',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Prinsengracht 2',
         '1015 DV Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d116941735',
         'name': 'Bar',
         'pluralName': 'Bars',
         'shortName': 'Bar',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/pub_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a26ffc0f964a520d8801fe3-8'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a26ff63f964a520697f1fe3',
       'name': 'Café van Kerkwijk',
       'location': {'address': 'Nes 41',
        'lat': 52.37149449808745,
        'lng': 4.893658419116752,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.37149449808745,
          'lng': 4.893658419116752}],
        'distance': 942,
        'postalCode': '1012 KC',
        'cc': 'NL',
        'neighborhood': 'De Wallen',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Nes 41', '1012 KC Amsterdam', 'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d16d941735',
         'name': 'Café',
         'pluralName': 'Cafés',
         'shortName': 'Café',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a26ff63f964a520697f1fe3-9'}]}]}}

In [13]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [14]:
import json 
import requests 
from pandas.io.json import json_normalize 
venues = results['response']['groups'][0]['items']
    
nearby_venues = json_normalize(venues) # flatten JSON

# filter columns
filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues = nearby_venues.loc[:, filtered_columns]

# filter the category for each row
nearby_venues['venue.categories'] = nearby_venues.apply(get_category_type, axis=1)

# clean columns
nearby_venues.columns = [col.split(".")[-1] for col in nearby_venues.columns]

nearby_venues.head()

                  name          categories        lat       lng
0      Anne Frank Huis       Historic Site  52.375090  4.883917
1    Yu Family Kitchen  Chinese Restaurant  52.376167  4.895413
2  NEMO Science Museum      Science Museum  52.373765  4.912273
3      Museum Van Loon              Museum  52.363611  4.893334
4         Maenaam Thai     Thai Restaurant  52.375184  4.891260

In [15]:
print('{} venues were returned by Foursquare.'.format(nearby_venues.shape[0]))

10 venues were returned by Foursquare.

In [16]:
def getNearbyVenues(names, latitudes, longitudes, radius=3000):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&query={},&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            query,
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Borough', 
                  'Borough Latitude', 
                  'Borough Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [17]:
amsterdam_venues = getNearbyVenues(names=borough_amsterdam['Borough'],
                                   latitudes=borough_amsterdam['Latitude'],
                                   longitudes=borough_amsterdam['Longitude']
                                  )

Centrum (Centre)
Noord (North)
Nieuw-West(New West)
Oost (East)
West
Westpoort(West Gateway)
Zuid (South)
Zuidoost(Southeast)

In [18]:
print(amsterdam_venues.shape)
amsterdam_venues.tail(10)

(56, 7)

,Borough,Borough Latitude,Borough Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
46,Zuid (South),52.3355,4.8757,De Veranda,52.330729,4.856914,Restaurant
47,Zuid (South),52.3355,4.8757,Ristorante Due Napoletani,52.354184,4.886514,Italian Restaurant
48,Zuid (South),52.3355,4.8757,Café Blek,52.345940,4.899766,Café
49,Zuid (South),52.3355,4.8757,Blender,52.354525,4.885725,Kids Store
50,Zuid (South),52.3355,4.8757,Spaghetteria,52.353498,4.902465,Italian Restaurant
51,Zuidoost(Southeast),52.3080,4.9715,IKEA,52.302251,4.949746,Furniture / Home Store
52,Zuidoost(Southeast),52.3080,4.9715,IKEA Restaurant,52.302151,4.949925,Scandinavian Restaurant
53,Zuidoost(Southeast),52.3080,4.9715,A&O Amsterdam Zuidoost,52.307046,4.949605,Hostel
54,Zuidoost(Southeast),52.3080,4.9715,KFC,52.292749,4.947090,Fried Chicken Joint
55,Zuidoost(Southeast),52.3080,4.9715,Marmaris Grill & Pizza,52.312865,4.948830,Mediterranean Restaurant

In [114]:
amsterdam_venues.groupby('Borough').count()

,Borough Latitude,Borough Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Borough,,,,,,
Centrum (Centre),10,10,10,10,10,10
Nieuw-West(New West),4,4,4,4,4,4
Noord (North),4,4,4,4,4,4
Oost (East),10,10,10,10,10,10
West,10,10,10,10,10,10
Westpoort(West Gateway),3,3,3,3,3,3
Zuid (South),10,10,10,10,10,10
Zuidoost(Southeast),5,5,5,5,5,5

In [108]:
print('There are {} uniques categories.'.format(len(amsterdam_venues['Venue Category'].unique())))
amsterdam_venues['Venue Category'].unique()

There are 24 uniques categories.

array(['Historic Site', 'Chinese Restaurant', 'Science Museum', 'Museum',
       'Thai Restaurant', 'Italian Restaurant', 'Bar', 'Restaurant',
       'Café', 'French Restaurant', 'Hotel', 'Fast Food Restaurant',
       'Turkish Restaurant', 'Park', 'Comfort Food Restaurant',
       'Nature Preserve', 'Portuguese Restaurant', 'Ethiopian Restaurant',
       'Kids Store', 'Furniture / Home Store', 'Scandinavian Restaurant',
       'Hostel', 'Fried Chicken Joint', 'Mediterranean Restaurant'],
      dtype=object)

In [21]:
# one hot encoding
amsterdam_onehot = pd.get_dummies(amsterdam_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
amsterdam_onehot['Borough'] = amsterdam_venues['Borough'] 

# move neighborhood column to the first column
fixed_columns = [amsterdam_onehot.columns[-1]] + list(amsterdam_onehot.columns[:-1])
amsterdam_onehot = amsterdam_onehot[fixed_columns]

amsterdam_onehot.head()

,Borough,Bar,Café,Chinese Restaurant,Comfort Food Restaurant,Ethiopian Restaurant,Fast Food Restaurant,French Restaurant,Fried Chicken Joint,Furniture / Home Store,...,Mediterranean Restaurant,Museum,Nature Preserve,Park,Portuguese Restaurant,Restaurant,Scandinavian Restaurant,Science Museum,Thai Restaurant,Turkish Restaurant
0,Centrum (Centre),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Centrum (Centre),0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Centrum (Centre),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Centrum (Centre),0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,Centrum (Centre),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [22]:
amsterdam_onehot.shape

(56, 25)

In [23]:
amsterdam_grouped = amsterdam_onehot.groupby('Borough').mean().reset_index()
amsterdam_grouped

,Borough,Bar,Café,Chinese Restaurant,Comfort Food Restaurant,Ethiopian Restaurant,Fast Food Restaurant,French Restaurant,Fried Chicken Joint,Furniture / Home Store,...,Mediterranean Restaurant,Museum,Nature Preserve,Park,Portuguese Restaurant,Restaurant,Scandinavian Restaurant,Science Museum,Thai Restaurant,Turkish Restaurant
0,Centrum (Centre),0.20,0.10,0.1,0.0,0.0,0.00,0.00,0.0,0.0,...,0.0,0.1,0.0,0.0,0.0,0.10,0.0,0.1,0.1,0.00
1,Nieuw-West(New West),0.00,0.25,0.0,0.0,0.0,0.25,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.25
2,Noord (North),0.25,0.00,0.0,0.0,0.0,0.00,0.25,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.25,0.0,0.0,0.0,0.00
3,Oost (East),0.00,0.10,0.0,0.1,0.0,0.00,0.00,0.0,0.0,...,0.0,0.0,0.1,0.1,0.1,0.10,0.0,0.1,0.0,0.00
4,West,0.10,0.00,0.1,0.0,0.1,0.00,0.00,0.0,0.0,...,0.0,0.1,0.0,0.1,0.0,0.20,0.0,0.0,0.1,0.00
5,Westpoort(West Gateway),0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.00
6,Zuid (South),0.00,0.10,0.0,0.0,0.1,0.00,0.00,0.0,0.0,...,0.0,0.0,0.0,0.2,0.0,0.10,0.0,0.0,0.0,0.00
7,Zuidoost(Southeast),0.00,0.00,0.0,0.0,0.0,0.00,0.00,0.2,0.2,...,0.2,0.0,0.0,0.0,0.0,0.00,0.2,0.0,0.0,0.00

In [24]:
amsterdam_grouped.shape

(8, 25)

In [25]:
num_top_venues = 5

for borough in amsterdam_grouped['Borough']:
    print("----"+borough+"----")
    temp = amsterdam_grouped[amsterdam_grouped['Borough'] == borough].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Centrum (Centre)----
             venue  freq
0              Bar   0.2
1    Historic Site   0.1
2  Thai Restaurant   0.1
3   Science Museum   0.1
4       Restaurant   0.1


----Nieuw-West(New West)----
                      venue  freq
0        Turkish Restaurant  0.25
1      Fast Food Restaurant  0.25
2                     Hotel  0.25
3                      Café  0.25
4  Mediterranean Restaurant  0.00


----Noord (North)----
               venue  freq
0                Bar  0.25
1         Restaurant  0.25
2  French Restaurant  0.25
3              Hotel  0.25
4         Kids Store  0.00


----Oost (East)----
                     venue  freq
0       Italian Restaurant   0.2
1  Comfort Food Restaurant   0.1
2           Science Museum   0.1
3               Restaurant   0.1
4    Portuguese Restaurant   0.1


----West----
             venue  freq
0       Restaurant   0.2
1              Bar   0.1
2    Historic Site   0.1
3  Thai Restaurant   0.1
4             Park   0.1


----Westpoort(West Gateway)----
             venue  freq
0            Hotel   1.0
1              Bar   0.0
2       Kids Store   0.0
3  Thai Restaurant   0.0
4   Science Museum   0.0


----Zuid (South)----
                  venue  freq
0    Italian Restaurant   0.3
1                  Park   0.2
2  Ethiopian Restaurant   0.1
3            Restaurant   0.1
4                 Hotel   0.1


----Zuidoost(Southeast)----
                      venue  freq
0  Mediterranean Restaurant   0.2
1   Scandinavian Restaurant   0.2
2       Fried Chicken Joint   0.2
3    Furniture / Home Store   0.2
4                    Hostel   0.2

In [26]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [27]:
import numpy as np
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Borough']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
borough_venues_sorted = pd.DataFrame(columns=columns)
borough_venues_sorted['Borough'] = amsterdam_grouped['Borough']

for ind in np.arange(amsterdam_grouped.shape[0]):
    borough_venues_sorted.iloc[ind, 1:] = return_most_common_venues(amsterdam_grouped.iloc[ind, :], num_top_venues)

borough_venues_sorted

,Borough,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Centrum (Centre),Bar,Science Museum,Café,Restaurant,Chinese Restaurant,Museum,Italian Restaurant,Thai Restaurant,Historic Site,Furniture / Home Store
1,Nieuw-West(New West),Turkish Restaurant,Fast Food Restaurant,Café,Hotel,Restaurant,Portuguese Restaurant,Science Museum,Chinese Restaurant,Comfort Food Restaurant,Ethiopian Restaurant
2,Noord (North),Hotel,Restaurant,French Restaurant,Bar,Scandinavian Restaurant,Portuguese Restaurant,Café,Chinese Restaurant,Comfort Food Restaurant,Ethiopian Restaurant
3,Oost (East),Italian Restaurant,Hotel,Science Museum,Café,Restaurant,Portuguese Restaurant,Park,Nature Preserve,Comfort Food Restaurant,Furniture / Home Store
4,West,Restaurant,Bar,Chinese Restaurant,Park,Ethiopian Restaurant,Museum,Italian Restaurant,Thai Restaurant,Historic Site,Furniture / Home Store
5,Westpoort(West Gateway),Hotel,Thai Restaurant,Café,Chinese Restaurant,Comfort Food Restaurant,Ethiopian Restaurant,Fast Food Restaurant,French Restaurant,Fried Chicken Joint,Furniture / Home Store
6,Zuid (South),Italian Restaurant,Park,Hotel,Café,Restaurant,Ethiopian Restaurant,Kids Store,Historic Site,Chinese Restaurant,Comfort Food Restaurant
7,Zuidoost(Southeast),Hostel,Scandinavian Restaurant,Mediterranean Restaurant,Fried Chicken Joint,Furniture / Home Store,Turkish Restaurant,Café,Chinese Restaurant,Comfort Food Restaurant,Ethiopian Restaurant

In [28]:
borough_amsterdam

                   Borough   Latitude  Longitude
0         Centrum (Centre)  52.379189   4.899431
1            Noord (North)  52.395700   4.966200
2     Nieuw-West(New West)  52.366200   4.804100
3              Oost (East)  52.358600   4.940500
4                     West  52.373400   4.862500
5  Westpoort(West Gateway)  52.402300   4.807800
6             Zuid (South)  52.335500   4.875700
7      Zuidoost(Southeast)  52.308000   4.971500

In [68]:
#scrape
page_link1 = 'https://www.iamsterdam.com/en/i-am/i-amsterdam-city-card/what-is-included/a-chance-to-explore-the-amsterdam-region'
page_response1 = requests.get(page_link1, timeout=5)
page_content1 = BeautifulSoup(page_response1.content, "html.parser")

table1 = page_content1.find('ol',{'class':'list list-styled-numbered list-faq'})

table_rows1 = table1.find_all('li')

res1 = []
for tr1 in table_rows1:
    li = tr1.find_all('a')
    row1 = [tr1.text.strip() for tr1 in li if tr1.text.strip()]
    if row1:
        res1.append(row1)

top10_attractions = pd.DataFrame(res1, columns=['Top 10 Attractions'])
top10_attractions

       Top 10 Attractions
0            Canal cruise
1         Van Gogh Museum
2             Rijksmuseum
3         Artis Royal Zoo
4        Stedelijk Museum
5     NEMO Science Museum
6  Rembrandt House Museum
7     Hermitage Amsterdam
8          Diamond museum
9        Amsterdam Museum

In [69]:
#merge with top10 csv
#borough_amsterdam = pd.read_csv("borough.csv")
df2 = pd.read_csv("Top10.csv")

top10_attractions = top10_attractions.merge(df2, on='Top 10 Attractions')
top10_attractions.to_csv("merged_top10data.csv", index=False)
print('Done')

Done

In [70]:
top10_attractions

       Top 10 Attractions   Latitude  Longitude
0            Canal cruise  52.358200    4.89160
1         Van Gogh Museum  52.358400    4.88110
2             Rijksmuseum  52.360000    4.88520
3         Artis Royal Zoo  52.366000    4.91650
4        Stedelijk Museum  52.358000    4.87980
5     NEMO Science Museum  52.374081    4.91235
6  Rembrandt House Museum  52.369400    4.90120
7     Hermitage Amsterdam  52.365300    4.90240
8          Diamond museum  52.359400    4.88250
9        Amsterdam Museum  52.370000    4.89000

In [71]:
top10_latitude = top10_attractions.loc[0,'Latitude'] # neighborhood latitude value
top10_longitude = top10_attractions.loc[0, 'Longitude'] # neighborhood longitude value

top10_name = top10_attractions.loc[0, 'Top 10 Attractions'] # neighborhood name

print('Latitude and longitude values of Top10 Attraction-{} are {}, {}.'.format(top10_name, 
                                                               top10_latitude, 
                                                               top10_longitude))

Latitude and longitude values of Top10 Attraction-Canal cruise are 52.3582, 4.8916.

In [88]:
LIMIT = 10 
radius = 500
query = 'family'

url1 = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&query={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    top10_latitude,
    top10_longitude,
    radius, 
    query,
    LIMIT)
url1

'https://api.foursquare.com/v2/venues/explore?&client_id=ZBZGBO31ZBRVVNESVBIBKVG0SEJ4LT4EFNPFDU1VZQ2L3Q5N&client_secret=4WLLUSW50DMTZ0JYNHFSMGC2OE4OY4055EXVRGXUOA0SFOHI&v=20180605&ll=52.3582,4.8916&radius=500&query=family&limit=10'

In [89]:
results1 = requests.get(url1).json()
results1

{'meta': {'code': 200, 'requestId': '5c4150924434b947fb443601'},
 'response': {'headerLocation': 'Oude Pijp',
  'headerFullLocation': 'Oude Pijp, Amsterdam',
  'headerLocationGranularity': 'neighborhood',
  'query': 'family',
  'totalResults': 9,
  'suggestedBounds': {'ne': {'lat': 52.3627000045, 'lng': 4.898954565605007},
   'sw': {'lat': 52.353699995499994, 'lng': 4.884245434394994}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '584367295da8f471f28f4fb2',
       'name': 'Cafe Caron',
       'location': {'address': 'Frans Halsstraat 28h',
        'lat': 52.357442594062086,
        'lng': 4.888850122594896,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.357442594062086,
          'lng': 4.888850122594896}],
        'distance': 205,
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Frans Halsstraat 28h',
         'Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d10c941735',
         'name': 'French Restaurant',
         'pluralName': 'French Restaurants',
         'shortName': 'French',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/french_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-584367295da8f471f28f4fb2-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '5a14377f28374e648ad1c6df',
       'name': "Rudi's Original Stroopwafels",
       'location': {'address': '180 Albert Cuypstraat',
        'lat': 52.355897,
        'lng': 4.895025,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.355897,
          'lng': 4.895025}],
        'distance': 346,
        'postalCode': '1073 BM',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['180 Albert Cuypstraat',
         '1073 BM Amsterdam',
         'Nederland']},
       'categories': [{'id': '56aa371be4b08b9a8d57350b',
         'name': 'Food Stand',
         'pluralName': 'Food Stands',
         'shortName': 'Food Stand',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/movingtarget_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-5a14377f28374e648ad1c6df-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a270702f964a520ac8c1fe3',
       'name': 'Heineken Experience',
       'location': {'address': 'Stadhouderskade 78',
        'lat': 52.35791,
        'lng': 4.891454,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.35791,
          'lng': 4.891454}],
        'distance': 33,
        'postalCode': '1072 AE',
        'cc': 'NL',
        'neighborhood': 'Oude Pijp',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Stadhouderskade 78',
         '1072 AE Amsterdam',
         'Nederland']},
       'categories': [{'id': '50327c8591d4c4b30a586d5d',
         'name': 'Brewery',
         'pluralName': 'Breweries',
         'shortName': 'Brewery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/brewery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []},
       'venuePage': {'id': '79219692'}},
      'referralId': 'e-0-4a270702f964a520ac8c1fe3-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a270001f964a520d5811fe3',
       'name': 'Bazar',
       'location': {'address': 'Albert Cuypstraat 182 HS',
        'lat': 52.35590056136357,
        'lng': 4.895084163007962,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.35590056136357,
          'lng': 4.895084163007962}],
        'distance': 348,
        'postalCode': '1073 BL',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Albert Cuypstraat 182 HS',
         '1073 BL Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d1c0941735',
         'name': 'Mediterranean Restaurant',
         'pluralName': 'Mediterranean Restaurants',
         'shortName': 'Mediterranean',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/mediterranean_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a270001f964a520d5811fe3-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a27db23f964a5202e921fe3',
       'name': 'Zen',
       'location': {'address': 'Frans Halsstraat 38HS',
        'lat': 52.35703855458401,
        'lng': 4.888798197883849,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.35703855458401,
          'lng': 4.888798197883849}],
        'distance': 230,
        'postalCode': '1072 BS',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Frans Halsstraat 38HS',
         '1072 BS Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d111941735',
         'name': 'Japanese Restaurant',
         'pluralName': 'Japanese Restaurants',
         'shortName': 'Japanese',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/japanese_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a27db23f964a5202e921fe3-4'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b6186f7f964a520e3162ae3',
       'name': 'BBROOD',
       'location': {'address': 'Eerste van der Helststraat 49',
        'crossStreet': 'Govert Flinckstraat',
        'lat': 52.355062746187436,
        'lng': 4.893289566948609,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.355062746187436,
          'lng': 4.893289566948609}],
        'distance': 367,
        'postalCode': '1073 AD',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Eerste van der Helststraat 49 (Govert Flinckstraat)',
         '1073 AD Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d16a941735',
         'name': 'Bakery',
         'pluralName': 'Bakeries',
         'shortName': 'Bakery',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/bakery_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b6186f7f964a520e3162ae3-5'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4a27079ff964a5206b8e1fe3',
       'name': "Saskia's Huiskamer",
       'location': {'address': 'Albert Cuypstraat 203CHS',
        'lat': 52.35609337279504,
        'lng': 4.895546088938876,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.35609337279504,
          'lng': 4.895546088938876}],
        'distance': 356,
        'postalCode': '1073 BE',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Albert Cuypstraat 203CHS',
         '1073 BE Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d1db931735',
         'name': 'Tapas Restaurant',
         'pluralName': 'Tapas Restaurants',
         'shortName': 'Tapas',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/tapas_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4a27079ff964a5206b8e1fe3-6'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d5d33151da1cbff4f962305',
       'name': 'Amsterdam Canal Cruises',
       'location': {'address': 'Stadhouderskade 550',
        'lat': 52.35827230589223,
        'lng': 4.891660039803185,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.35827230589223,
          'lng': 4.891660039803185}],
        'distance': 9,
        'postalCode': '1074 AE',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Stadhouderskade 550',
         '1074 AE Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d1e0941735',
         'name': 'Harbor / Marina',
         'pluralName': 'Harbors / Marinas',
         'shortName': 'Harbor / Marina',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/harbor_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d5d33151da1cbff4f962305-7'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b3a32e2f964a5202d6225e3',
       'name': 'Toko Ramee',
       'location': {'address': 'Ferdinand Bolstraat 74',
        'crossStreet': 'Albert Cuypstraat',
        'lat': 52.35518610790451,
        'lng': 4.890365311868823,
        'labeledLatLngs': [{'label': 'display',
          'lat': 52.35518610790451,
          'lng': 4.890365311868823}],
        'distance': 345,
        'postalCode': '1072 LM',
        'cc': 'NL',
        'city': 'Amsterdam',
        'state': 'Noord-Holland',
        'country': 'Nederland',
        'formattedAddress': ['Ferdinand Bolstraat 74 (Albert Cuypstraat)',
         '1072 LM Amsterdam',
         'Nederland']},
       'categories': [{'id': '4bf58dd8d48988d146941735',
         'name': 'Deli / Bodega',
         'pluralName': 'Delis / Bodegas',
         'shortName': 'Deli / Bodega',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/deli_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b3a32e2f964a5202d6225e3-8'}]}]}}

In [90]:
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [91]:
venues1 = results1['response']['groups'][0]['items']
    
nearby_venues1 = json_normalize(venues1) # flatten JSON

# filter columns
filtered_columns1 = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
nearby_venues1 = nearby_venues1.loc[:, filtered_columns1]

# filter the category for each row
nearby_venues1['venue.categories'] = nearby_venues1.apply(get_category_type, axis=1)

# clean columns
nearby_venues1.columns = [col.split(".")[-1] for col in nearby_venues1.columns]

nearby_venues1.head()

                           name                categories        lat       lng
0                    Cafe Caron         French Restaurant  52.357443  4.888850
1  Rudi's Original Stroopwafels                Food Stand  52.355897  4.895025
2           Heineken Experience                   Brewery  52.357910  4.891454
3                         Bazar  Mediterranean Restaurant  52.355901  4.895084
4                           Zen       Japanese Restaurant  52.357039  4.888798

In [92]:
print('{} venues were returned by Foursquare.'.format(nearby_venues1.shape[0]))

9 venues were returned by Foursquare.

In [93]:
def getNearbyVenues(names1, latitudes1, longitudes1, radius=500):
    
    venues_list1=[]
    for name, lat, lng in zip(names1, latitudes1, longitudes1):
        print(name)
            
        # create the API request URL
        url1 = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&query={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            query,
            LIMIT)
            
        # make the GET request
        results1 = requests.get(url1).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list1.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results1])

    nearby_venues1 = pd.DataFrame([item for venue_list1 in venues_list1 for item in venue_list1])
    nearby_venues1.columns = ['Top 10 Attractions', 
                  'Top 10 Att Latitude', 
                  'Top 10 Att Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues1)

In [94]:
amsterdam_venues_top10 = getNearbyVenues(names1=top10_attractions['Top 10 Attractions'],
                                   latitudes1=top10_attractions['Latitude'],
                                   longitudes1=top10_attractions['Longitude']
                                  )
amsterdam_venues_top10

Canal cruise
Van Gogh Museum
Rijksmuseum
Artis Royal Zoo
Stedelijk Museum
NEMO Science Museum
Rembrandt House Museum
Hermitage Amsterdam
Diamond museum
Amsterdam Museum

,Top 10 Attractions,Top 10 Att Latitude,Top 10 Att Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Canal cruise,52.3582,4.8916,Cafe Caron,52.357443,4.888850,French Restaurant
1,Canal cruise,52.3582,4.8916,Rudi's Original Stroopwafels,52.355897,4.895025,Food Stand
2,Canal cruise,52.3582,4.8916,Heineken Experience,52.357910,4.891454,Brewery
3,Canal cruise,52.3582,4.8916,Bazar,52.355901,4.895084,Mediterranean Restaurant
4,Canal cruise,52.3582,4.8916,Zen,52.357039,4.888798,Japanese Restaurant
5,Canal cruise,52.3582,4.8916,BBROOD,52.355063,4.893290,Bakery
6,Canal cruise,52.3582,4.8916,Saskia's Huiskamer,52.356093,4.895546,Tapas Restaurant
7,Canal cruise,52.3582,4.8916,Amsterdam Canal Cruises,52.358272,4.891660,Harbor / Marina
8,Canal cruise,52.3582,4.8916,Toko Ramee,52.355186,4.890365,Deli / Bodega
9,Van Gogh Museum,52.3584,4.8811,Museumplein,52.357453,4.881492,Plaza
10,Van Gogh Museum,52.3584,4.8811,Pompa,52.358057,4.877979,Italian Restaurant
11,Van Gogh Museum,52.3584,4.8811,Van Gogh Museum,52.358442,4.881105,Art Museum
12,Van Gogh Museum,52.3584,4.8811,Stedelijk Museum,52.357780,4.879882,Art Museum
13,Van Gogh Museum,52.3584,4.8811,Het Concertgebouw,52.356280,4.879131,Concert Hall
14,Van Gogh Museum,52.3584,4.8811,Hotel Aalders,52.359600,4.881028,Hotel
15,Van Gogh Museum,52.3584,4.8811,Diamant Museum,52.359431,4.882480,Museum
16,Van Gogh Museum,52.3584,4.8811,Schaap En Citroen,52.360643,4.881983,Jewelry Store
17,Van Gogh Museum,52.3584,4.8811,Best Western Apollo Museumhotel Amsterdam City...,52.361285,4.883829,Hotel
18,Rijksmuseum,52.3600,4.8852,Museumplein,52.357453,4.881492,Plaza
19,Rijksmuseum,52.3600,4.8852,Cafe Caron,52.357443,4.888850,French Restaurant
20,Rijksmuseum,52.3600,4.8852,Van Gogh Museum,52.358442,4.881105,Art Museum
21,Rijksmuseum,52.3600,4.8852,Heineken Experience,52.357910,4.891454,Brewery
22,Rijksmuseum,52.3600,4.8852,Zen,52.357039,4.888798,Japanese Restaurant
23,Rijksmuseum,52.3600,4.8852,Mayur,52.362330,4.886113,Indian Restaurant
24,Rijksmuseum,52.3600,4.8852,Diamant Museum,52.359431,4.882480,Museum
25,Rijksmuseum,52.3600,4.8852,Hotel Aalders,52.359600,4.881028,Hotel
26,Rijksmuseum,52.3600,4.8852,Stedelijk Museum,52.357780,4.879882,Art Museum
27,Rijksmuseum,52.3600,4.8852,Leidseplein,52.364190,4.882777,Plaza
28,Artis Royal Zoo,52.3660,4.9165,ZOO Amsterdam,52.367151,4.912893,Nature Preserve
29,Artis Royal Zoo,52.3660,4.9165,Natura Artis Magistra,52.366455,4.914858,Zoo
...,...,...,...,...,...,...,...
52,Hermitage Amsterdam,52.3653,4.9024,Lo Stivale d'Oro,52.366261,4.900134,Italian Restaurant
53,Hermitage Amsterdam,52.3653,4.9024,Quartier Latin,52.364266,4.898117,French Restaurant
54,Hermitage Amsterdam,52.3653,4.9024,Starbucks,52.366049,4.897486,Coffee Shop
55,Hermitage Amsterdam,52.3653,4.9024,Patisserie Kuyt,52.362418,4.898876,Bakery
56,Hermitage Amsterdam,52.3653,4.9024,Puccini Bomboni,52.368173,4.898409,Candy Store
57,Hermitage Amsterdam,52.3653,4.9024,Zoku,52.363891,4.906723,Hotel
58,Hermitage Amsterdam,52.3653,4.9024,Na Siam,52.362809,4.898239,Thai Restaurant
59,Hermitage Amsterdam,52.3653,4.9024,Argentina Grill,52.365987,4.896681,Argentinian Restaurant
60,Hermitage Amsterdam,52.3653,4.9024,Golden Temple,52.361479,4.899440,Vegetarian / Vegan Restaurant
61,Hermitage Amsterdam,52.3653,4.9024,wagamama,52.366237,4.898547,Asian Restaurant
62,Diamond museum,52.3594,4.8825,Museumplein,52.357453,4.881492,Plaza
63,Diamond museum,52.3594,4.8825,Van Gogh Museum,52.358442,4.881105,Art Museum
64,Diamond museum,52.3594,4.8825,Pompa,52.358057,4.877979,Italian Restaurant
65,Diamond museum,52.3594,4.8825,Cafe Caron,52.357443,4.888850,French Restaurant
66,Diamond museum,52.3594,4.8825,Mayur,52.362330,4.886113,Indian Restaurant
67,Diamond museum,52.3594,4.8825,Stedelijk Museum,52.357780,4.879882,Art Museum
68,Diamond museum,52.3594,4.8825,Hotel Aalders,52.359600,4.881028,Hotel
69,Diamond museum,52.3594,4.8825,Diamant Museum,52.359431,4.882480,Museum
70,Diamond museum,52.3594,4.8825,Het Concertgebouw,52.356280,4.879131,Concert Hall
71,Diamond museum,52.3594,4.8825,Schaap En Citroen,52.360643,4.881983,Jewelry Store
72,Amsterdam Museum,52.3700,4.8900,Café van Kerkwijk,52.371494,4.893658,Café
73,Amsterdam Museum,52.3700,4.8900,Hotel Estherea,52.370571,4.888292,Hotel
74,Amsterdam Museum,52.3700,4.8900,Cecconi’s,52.372006,4.888937,Italian Restaurant
75,Amsterdam Museum,52.3700,4.8900,Het Stadspaleis,52.371197,4.890617,Sandwich Place
76,Amsterdam Museum,52.3700,4.8900,Tomaz,52.369483,4.890790,Restaurant
77,Amsterdam Museum,52.3700,4.8900,Café Luxembourg,52.368750,4.889037,Café
78,Amsterdam Museum,52.3700,4.8900,De Laatste Kruimel,52.369220,4.892810,Bakery
79,Amsterdam Museum,52.3700,4.8900,Restaurant Breda,52.373818,4.888610,Restaurant
80,Amsterdam Museum,52.3700,4.8900,Grekas Greek Deli,52.370364,4.888161,Greek Restaurant
81,Amsterdam Museum,52.3700,4.8900,Ko,52.370305,4.886033,Gift Shop

In [95]:
amsterdam_venues_top10.groupby('Top 10 Attractions').count()

,Top 10 Att Latitude,Top 10 Att Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Top 10 Attractions,,,,,,
Amsterdam Museum,10,10,10,10,10,10
Artis Royal Zoo,2,2,2,2,2,2
Canal cruise,9,9,9,9,9,9
Diamond museum,10,10,10,10,10,10
Hermitage Amsterdam,10,10,10,10,10,10
NEMO Science Museum,4,4,4,4,4,4
Rembrandt House Museum,9,9,9,9,9,9
Rijksmuseum,10,10,10,10,10,10
Stedelijk Museum,9,9,9,9,9,9
Van Gogh Museum,9,9,9,9,9,9

In [96]:
print('There are {} uniques categories.'.format(len(amsterdam_venues_top10['Venue Category'].unique())))

There are 36 uniques categories.

In [98]:
# one hot encoding
amsterdam_top10_onehot = pd.get_dummies(amsterdam_venues_top10[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
amsterdam_top10_onehot['Top 10 Attractions'] = amsterdam_venues_top10['Top 10 Attractions'] 

# move neighborhood column to the first column
fixed_columns1 = [amsterdam_top10_onehot.columns[-1]] + list(amsterdam_top10_onehot.columns[:-1])
amsterdam_top10_onehot = amsterdam_top10_onehot[fixed_columns1]

amsterdam_top10_onehot.head()

,Top 10 Attractions,African Restaurant,Argentinian Restaurant,Art Museum,Asian Restaurant,Bakery,Breakfast Spot,Brewery,Café,Candy Store,...,Museum,Nature Preserve,Plaza,Restaurant,Sandwich Place,Science Museum,Tapas Restaurant,Thai Restaurant,Vegetarian / Vegan Restaurant,Zoo
0,Canal cruise,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Canal cruise,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Canal cruise,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Canal cruise,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Canal cruise,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [99]:
amsterdam_top10_onehot.shape

(82, 37)

In [100]:
amsterdam_top10_grouped = amsterdam_top10_onehot.groupby('Top 10 Attractions').mean().reset_index()
amsterdam_top10_grouped

amsterdam_top10_grouped.shape

(10, 37)

In [101]:
num_top_venues1 = 5

for top10att in amsterdam_top10_grouped['Top 10 Attractions']:
    print("----"+top10att+"----")
    temp1 = amsterdam_top10_grouped[amsterdam_top10_grouped['Top 10 Attractions'] == top10att].T.reset_index()
    temp1.columns = ['venue','freq']
    temp1 = temp1.iloc[1:]
    temp1['freq'] = temp1['freq'].astype(float)
    temp1 = temp1.round({'freq': 2})
    print(temp1.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues1))
    print('\n')

----Amsterdam Museum----
                venue  freq
0                Café   0.2
1          Restaurant   0.2
2               Hotel   0.1
3  Italian Restaurant   0.1
4              Bakery   0.1


----Artis Royal Zoo----
                           venue  freq
0                            Zoo   0.5
1                Nature Preserve   0.5
2  Vegetarian / Vegan Restaurant   0.0
3                Thai Restaurant   0.0
4               Tapas Restaurant   0.0


----Canal cruise----
                 venue  freq
0        Deli / Bodega  0.11
1  Japanese Restaurant  0.11
2               Bakery  0.11
3     Tapas Restaurant  0.11
4              Brewery  0.11


----Diamond museum----
                venue  freq
0          Art Museum   0.2
1               Hotel   0.1
2        Concert Hall   0.1
3   Indian Restaurant   0.1
4  Italian Restaurant   0.1


----Hermitage Amsterdam----
                           venue  freq
0                    Coffee Shop   0.1
1              French Restaurant   0.1
2  Vegetarian / Vegan Restaurant   0.1
3               Asian Restaurant   0.1
4                         Bakery   0.1


----NEMO Science Museum----
                venue  freq
0  African Restaurant  0.25
1      Breakfast Spot  0.25
2      Science Museum  0.25
3          Restaurant  0.25
4              Museum  0.00


----Rembrandt House Museum----
                    venue  freq
0                  Hostel  0.11
1             Candy Store  0.11
2  Argentinian Restaurant  0.11
3       French Restaurant  0.11
4      Italian Restaurant  0.11


----Rijksmuseum----
                 venue  freq
0                Plaza   0.2
1           Art Museum   0.2
2               Museum   0.1
3    Indian Restaurant   0.1
4  Japanese Restaurant   0.1


----Stedelijk Museum----
                venue  freq
0          Art Museum  0.22
1               Hotel  0.22
2               Plaza  0.11
3        Concert Hall  0.11
4  Italian Restaurant  0.11


----Van Gogh Museum----
                venue  freq
0          Art Museum  0.22
1               Hotel  0.22
2               Plaza  0.11
3        Concert Hall  0.11
4  Italian Restaurant  0.11

In [102]:
def return_most_common_venues(row, num_top_venues1):
    row_categories1 = row.iloc[1:]
    row_categories1_sorted = row_categories1.sort_values(ascending=False)
    
    return row_categories1_sorted.index.values[0:num_top_venues1]

In [106]:
num_top_venues1 = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Top 10 Attractions']
for ind in np.arange(num_top_venues1):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
top10att_venues_sorted = pd.DataFrame(columns=columns)
top10att_venues_sorted['Top 10 Attractions'] = amsterdam_top10_grouped['Top 10 Attractions']

for ind in np.arange(amsterdam_top10_grouped.shape[0]):
    top10att_venues_sorted.iloc[ind, 1:] = return_most_common_venues(amsterdam_top10_grouped.iloc[ind, :], num_top_venues1)

top10att_venues_sorted

,Top 10 Attractions,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Amsterdam Museum,Café,Restaurant,Greek Restaurant,Hotel,Italian Restaurant,Bakery,Gift Shop,Sandwich Place,Breakfast Spot,Brewery
1,Artis Royal Zoo,Zoo,Nature Preserve,Candy Store,French Restaurant,Food Stand,Deli / Bodega,Concert Hall,Coffee Shop,Chinese Restaurant,Café
2,Canal cruise,Harbor / Marina,Brewery,Food Stand,Deli / Bodega,Japanese Restaurant,Mediterranean Restaurant,French Restaurant,Bakery,Tapas Restaurant,Breakfast Spot
3,Diamond museum,Art Museum,Italian Restaurant,Concert Hall,Hotel,Plaza,Museum,French Restaurant,Jewelry Store,Indian Restaurant,Zoo
4,Hermitage Amsterdam,Candy Store,Bakery,Vegetarian / Vegan Restaurant,Hotel,Italian Restaurant,Coffee Shop,French Restaurant,Asian Restaurant,Argentinian Restaurant,Thai Restaurant
5,NEMO Science Museum,African Restaurant,Science Museum,Restaurant,Breakfast Spot,Candy Store,French Restaurant,Food Stand,Deli / Bodega,Concert Hall,Coffee Shop
6,Rembrandt House Museum,Candy Store,Chinese Restaurant,Hostel,Ice Cream Shop,Italian Restaurant,Coffee Shop,French Restaurant,Asian Restaurant,Argentinian Restaurant,Brewery
7,Rijksmuseum,Art Museum,Plaza,Hotel,Brewery,Museum,French Restaurant,Indian Restaurant,Japanese Restaurant,Zoo,Chinese Restaurant
8,Stedelijk Museum,Art Museum,Hotel,Concert Hall,Plaza,Museum,Italian Restaurant,Jewelry Store,Zoo,Candy Store,Deli / Bodega
9,Van Gogh Museum,Art Museum,Hotel,Concert Hall,Plaza,Museum,Italian Restaurant,Jewelry Store,Zoo,Candy Store,Deli / Bodega